@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root{
  --bg-primary:#031b11;
  --bg-secondary:#06281b;

  --text-primary:#06281b;
  --text-secondary:rgb(255, 255, 255);

  --card-bg:rgba(18, 30, 18, 0.982);

  --glow-color:rgb(39, 100, 60);

  --button-color:#facc15;

  --input-placeholder:#8b8b8b;
  --input-text:#ffffff;

}

.light{
  --bg-primary:#06281b;
  --bg-secondary:#e0e0e0;

  --text-primary:#ffffff;
  --text-secondary:#06281b;

  --card-bg:rgba(255, 255, 255, 0.933);

  --glow-color:rgba(129, 246, 174, 0.441);

  --button-color:#06281b;

   --input-placeholder:#6b7280;
  --input-text:#000000;
}

/* Global Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.cinzel-400 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.oswald-400 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
